*{
  padding: 0;
  margin: 0;
}

.container{
  display: inline-block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,10%);
  transition-duration: 0.5s;
}

.photo {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-image: url("EYES.jpg");
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,10%);
  z-index: 20px;
  transition-duration: 0.5s;
}

.bg {
  height: 100%;
  width: 100%;
  background-image: url("bg.jpg");
  filter: blur(1px);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
}

ul{
  width: 500px;
  height: 8%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,50%);
  text-align: center;
}

li{
  display: inline-block;
}

li img{
  height: 50px;
  width: 50px;  
  transition-duration: 0.5s;
}

#insta{
  padding-right: 40px;
}

#mail{
  padding-left: 40px;
}

#show_me{
  font-family: monospace;
  display: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,100%);
}

.on_click{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,100%);
  opacity: 0;
  transition-duration: 0.5s;
  cursor: pointer;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,80%);
  font-size: 70px;
  letter-spacing: 5px;
  transition-duration: 0.4s;
}

li img:hover{
  width: 80px;
  height: 80px;
}
 h1:hover{
   letter-spacing: 15px;
 }

 .container:hover .photo{
   opacity: 0.8;
 }

 .container:hover .on_click{
  opacity: 1;
 }

